{{template "partials/top" .}} {{template "partials/navbar" .}}
<main class="container">
  <div class="grid">
    <div>
        <h1>DAISY</h1>
        <p>Device Asset Information SYstem</p>
        <p>An environment for recording the electronic assets of a small non-profit organization. 
            All intellectual property rights, copyrights and photos are retained by the author.</p>
        <p>This product was designed and developed for:
        <a href="https://www.wknc.ca">Weston King Neighbourhood Centre (WKNC)</a></p>
    </div>
    <div>
        <img src="images/daisy.png" alt="Daisy" >
    </div>
    <div>
        <p>DAISY is constructed using the following components:</p>
        <ul>
            <li><a href="https://picocss.com/">Pico CSS</a>
                A minimal CSS Framework for Semantic HTML</li>
            <li><a href="https://www.sqlite.org/index.html">SQLite</a> 
                an open source public domain database.</li>
            <li><a href="https://go.dev/">Go Programming Language</a> 
            An open-source programming language released under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons</a> license.</a></li>
            <li><a href="https://blueimp.net">MD5 encryption</a>
                provided by Sebastian Tschan released under the MIT license.</li>
            <li><a href="https://pixelcarrot.com/listing-nearest-locations-from-sqlite-of-a-mobile-app">Justin Nguyen</a> 
                provided a great article on solving the law of cosines theorem with SQLite.</li>
            <li><a href="https://simplemaps.com/data/world-cities">Simplemaps</a> 
                provided world cities geographic information under a 
                <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons</a> license.</li>
            <li><a href="https://public.opendatasoft.com/explore/dataset/geonames-all-cities-with-a-population-1000/table/?disjunctive.cou_name_en&sort=name">Opendatasoft</a>
                provided geographic information for world communities listing with a population over 1000.</li>
        </ul>
    </div>
  </div>
</main>
{{template "partials/bottom" .}}