{{template "partials/top" .}} {{template "partials/navbar" .}}
<div class="container">
  <div class="grid">
      <div class="row">
          <div class="cell text-center">
              <h1>DAISY</h1>
              <p class="fg-crimson">Device Asset Information SYstem</p>
              <p>An environment for recording the electronic assets of a small non-profit organization. 
                  All intellectual property rights, copyrights and photos are retained by the author. 
                  This product was designed and developed for:</p>
              <h2>WKNC</h2>
              <p><a href="https://www.wknc.ca">Weston King Neighbourhood Centre</a></p>
              <p>DAISY is constructed using the following components:</p>
              <ul>
                  <li><a href="https://metroui.org.ua/index.html">Metro 4</a>
                      an open-source user interface framework. 
                      Many thanks to Pimenov Serhii. <a href="https://metroui.org.ua/support.html">Buy him a coffee</a></li>
                  <li><a href="https://www.sqlite.org/index.html">SQLite</a> 
                      an open source public domain database. Version 3.35.5</li>
                  <li><a href="https://go.dev/">Go Programming Language</a> 
                    An open-source programming language released under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons</a> license.</a></li>
                  <li><a href="https://blueimp.net">MD5 encryption</a>
                      provided by Sebastian Tschan released under the MIT license.</li>
                  <li><a href="https://pixelcarrot.com/listing-nearest-locations-from-sqlite-of-a-mobile-app">Justin Nguyen</a> 
                      provided a great article on solving the law of cosines theorem with SQLite.</li>
                  <li><a href="https://simplemaps.com/data/world-cities">Simplemaps</a> 
                      provided world cities geographic information under a 
                      <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons</a> license.</li>
                  <li><a href="https://public.opendatasoft.com/explore/dataset/geonames-all-cities-with-a-population-1000/table/?disjunctive.cou_name_en&sort=name">Opendatasoft</a>
                      provided geographic information for world communities listing with a population over 1000.</li>
              </ul>
          </div>
          <div class="cell">
              <img src="images/daisy.png" alt="Daisy" >
          </div>
      </div>
  </div>
</div>
{{template "partials/bottom" .}}