{{template "partials/top" .}} {{template "partials/navbar" .}}
<main class="container">
      <form id="theForm" name="theForm" onsubmit="return false;" action="#" method="post" autocomplete="off">
        <input type="hidden" id="tableSelected" value="">
        <input type="hidden" id="deviceTypesJson" value="{{.deviceTypesJson}}">
        <div id="adminTable"></div>
    </form>
</main>

<dialog id="helpDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="helpDialog" onclick="toggleModal(event)"></button>
        <h3>Select List Administration</h3>
    </header>
    <p>The Codes/Descriptions are used in the select lists for users to make a choice, such as the names of the offices.</p>
    <ul>
        <li>Code - Value stored in the database.</li>
        <li>Description - What the user selects onscreen.</li>
        <li>Active - Sets if it still can be used.</li>
    </ul>
    <p><i>To set the display order in the select list, use the Up/Down Arrows.</i></p>
    <p class="mt-0"><i>When the code is not used in any records, a red X will allow you to remove it.</i></p>
    <p>The Asset ID prefixes are prepended on the Asset ID when creating a device record.</p>
    <p>These prefixes can be used to help identify the type of the device</p>
    <p>For example, if the prefix is "LAPTOP", the Asset ID will be "LAPTOP-123456"</p>
    <footer>
      <button type='button' autofocus data-target="helpDialog" onclick="toggleModal(event)">Okay</button>
    </footer>
  </article>
</dialog>

<dialog id="tableDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="tableDialog" onclick="toggleModal(event)"></button>
        <h3>Select a Table</h3>
    </header>
    <div class="dialog-content" style="overflow-y: scroll; height: 12rem; ">
        <ul class="scrollarea">
            <li><a href="#" onclick="showSelection('SITE');">{{ .siteIcon }} Sites</a></li>
            <li><a href="#" onclick="showSelection('OFFICE');">{{ .officeIcon }} Offices</a></li>
            <li><a href="#" onclick="showSelection('GROUP');">{{ .groupIcon }} Groups</a></li>
            <li><a href="#" onclick="showSelection('IMPACT');">{{ .impactIcon }} Impact</a></li>
            <li><a href="#" onclick="showSelection('STATUS');">{{ .statusIcon }} Status</a></li>
            <li><a href="#" onclick="showSelection('MAKE');">{{ .makeIcon }} Make</a></li>
            <li><a href="#" onclick="showSelection('CORES');">{{ .coresIcon }} CPU Cores</a></li>
            <li><a href="#" onclick="showSelection('DRIVETYPE');">{{.drivetypeIcon }} Drive Types</a></li>
            <li><a href="#" onclick="showSelection('OS');">{{.osIcon }} Operating Systems</a></li>
            <li><a href="#" onclick="showSelection('GEOFENCE');">{{.geofenceIcon }} GeoFence Locations</a></li>
            <li><a href="#" onclick="showSelection('TROUBLE');">{{.troubleIcon }} Trouble Types</a></li>
            <li><a href="#" onclick="showSelection('TYPE');">{{ .typeIcon }} Asset ID Prefix</a></li>
            <li><a href="#" onclick="showSelection('KIND');">{{.kindsIcon }} Kinds of Devices</a></li>
        </ul>
    </div>
    <footer>
      <button type='button' autofocus data-target="tableDialog" onclick="toggleModal(event)">Cancel</button>
    </footer>
  </article>
</dialog>

<dialog id="permissionsDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="permissionsDialog" onclick="toggleModal(event)"></button>
        <h3><span id="GroupName"></span> Permissions</h3>
    </header>
    <input type="hidden" id="permRowId" value="" >
        <section>
            <p>
                <strong>Profile: </strong>
                <span id="profileSliderLabel">Create</span>
            </p>
            <p>
                <input type="range" id="profileSlider" min="0" max="4" step="1" value="0"
                onmouseup="setSlider('#profileSlider', this.value)" 
                ontouchend="setSlider('#profileSlider', this.value)" 
                style="width: 100%;">
            </p>
        </section>
        <section>
            <p>
                <strong>Device: </strong>
                <span id="deviceSliderLabel">Create</span>
            </p>
            <p>
                <input type="range" id="deviceSlider" min="0" max="4" step="1" value="0"
                onmouseup="setSlider('#deviceSlider', this.value)" 
                ontouchend="setSlider('#deviceSlider', this.value)" 
                style="width: 100%;">
            </p>
        </section>
        <section>
            <p>
                <strong>Software: </strong>
                <span id="softwareSliderLabel">Create</span>
            </p>
            <p>
                <input type="range" id="softwareSlider" min="0" max="4" step="1" value="0"
                onmouseup="setSlider('#softwareSlider', this.value)" 
                ontouchend="setSlider('#softwareSlider', this.value)" 
                style="width: 100%;">
            </p>           
        </section>
        <section>
            <p>
                <strong>Ticket: </strong>
                <span id="ticketSliderLabel">Create</span>
            </p>
            <p>
                <input type="range" id="ticketSlider" min="0" max="4" step="1" value="0"
                onmouseup="setSlider('#ticketSlider', this.value)" 
                ontouchend="setSlider('#ticketSlider', this.value)" 
                style="width: 100%;">
            </p>
        </section>
        <section>
            <p>
                <strong>Network</strong>
                <span id="netSliderLabel">Create</span>
            </p>
            <p>
                <input type="range" id="netSlider" min="0" max="4" step="1" value="0"
                onmouseup="setSlider('#netSlider', this.value)" 
                ontouchend="setSlider('#netSlider', this.value)" 
                style="width: 100%;">
            </p>
        </section>
        <section>
            <p>
                <strong>Administration</strong>
                <span id="adminSliderLabel">Create</span>
            </p>
            <p>
                <input type="range" id="adminSlider" min="0" max="4" step="1" value="0"
                onmouseup="setSlider('#adminSlider', this.value)" 
                ontouchend="setSlider('#adminSlider', this.value)" 
                style="width: 100%;">
            </p>
        </section>
    <footer>
      <button type='button' class="secondary" data-target="permissionsDialog" onclick="toggleModal(event);">Cancel</button>
      <button type='button' autofocus data-target="permissionsDialog" onclick="updatePermissions(event);toggleModal(event);">Okay</button>
    </footer>
  </article>
</dialog>
<script src="js/admin.js" defer></script>
{{template "partials/bottom" .}}