{{template "partials/top" .}} {{template "partials/navbar" .}}
<main class="container">
    <div class="autogrid">

        <article>
          <header>
            Attack Vectors (per &frac14; hour)
          </header>
          <section>
            <p>Day (max: {{.maxAttacksDay}})</p>
            <div><a href="#" onclick="getAttacks(1);">{{.attacksDay}}</a></div>
            <p>Week (max: {{.maxAttacksWeek}})</p>
            <div><a href="#" onclick="getAttacks(7);">{{.attacksWeek}}</a></div>
            <p>Month (max: {{.maxAttacksMonth}})</p>
            <div><a href="#" onclick="getAttacks(30);">{{.attacksMonth}}</a></div>
          </section>
        </article>
        
        <article>
            <header>
                Active Users (per &frac14; hour)
            </header>
            <section>
               
                <p>Day (max: {{.maxLoginsDay}} Logins)</p>
                <div><a href="#" onclick="showActiveUsers();">{{.loginsDay}}</a></div>

                <p>Week (max: {{.maxLoginsWeek}} Logins)</p>
                <div><a href="#" onclick="showActiveUsers();">{{.loginsWeek}}</a></div>
                
                <p>Month (max: {{.maxLoginsMonth}} Logins)</p>
                <div><a href="#" onclick="showActiveUsers();">{{.loginsMonth}}</a></div>
            </section>
        </article>

        <article>
            <header>
                Server Load (per &frac14; hour)
            </header>
            <section>
                <p>Day (max: {{.maxHitsDay}} hits)</p>
                <div>{{.hitsDay}} </div>
                <p>Week (max: {{.maxHitsWeek}} hits)</p>
                <div>{{.hitsWeek}} </div>
                <p>Month (max: {{.maxHitsMonth}} hits)</p>
                <div>{{.hitsMonth}} </div>
            </section>
        </article>
        
        <article>
            <header>
                Devices
            </header>
            <section>
                {{.dashboard}}
            </section>
        </article>

        <article>
            <header>
                Reported Last Seen
            </header>
            <section style="overflow-y: scroll; height: 24rem;">
                {{.LastSeenDevices}}
            </section>
        </article>
        
        <article>
            <header>
                Software Audits
            </header>
            <section style="overflow-y: scroll; height: 24rem;">
                {{.checkins}}
            </section>
        </article>

        <article>
            <header>
                Computer Backups
            </header>
            <section style="overflow-y: scroll; height: 24rem;" title="">
                {{.backups}}
            </section>
        </article>

        <article>
            <header>
                Drive Space
            </header>
            <section style="overflow-y: scroll; height: 24rem;" title="">
                {{.drivespace}}
            </section>
        </article>

    </div>

</main>

<dialog id="popup">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="popup" onclick="toggleModal(event)"></button>
        <h3>Active Users</h3>
    </header>
    <div style="width: 100%;overflow-y: scroll; height: 24rem;" id="popupContent" ></div>
    <footer>
      <button type='button' data-target="popup" onclick="toggleModal(event)">Cancel</button>
    </footer>
  </article>
</dialog>
<script src="js/control.js" defer></script>
{{template "partials/bottom" .}}