{{template "partials/top" .}} {{template "partials/navbar" .}}
<main class="container">
  <div id="cards" class="autogrid">{{ .cards }}</div>
</main>


<dialog id="filterDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="filterDialog" onclick="toggleModal(event)"></button>
        <h3>Filter Devices</h3>
    </header>
    <section>
      <label for="type">{{.devicesIcon}} Device Type</label>
      {{.typeCtrl}}
      <label for="siteSearch">{{.siteIcon}} Site</label>
      {{.siteSearchCtrl}}
      <label for="officeSearch">{{.officeIcon}} Office</label>
      <div id="selectOffice">
        {{.officeSearchCtrl}}
      </div>
      <label for="groupSearch">{{.profilesIcon}} Group</label>
      {{.groupSearchCtrl}}
      <label for="userSearch">{{.userIcon}} Person</label>
      <div id="selectSearchUser">
        {{.userSearchCtrl}}
      </div>
      <div>
        <label for="textSearch">{{.searchIcon}} Find</label>
        <input type="text" id="textSearch">
      </div>
      <div class="grid">
        <label for="isLate">
          <input type="checkbox" id="isLate" name="isLate"
            {{if .isLate }} checked {{end}} {{if .isReadonly }} readonly {{end}} >
            Backup Late
        </label>
        <label for="isMissing">
          <input type="checkbox" id="isMissing" name="isMissing"
            {{if .isMissing }} checked {{end}} {{if .isReadonly }} readonly {{end}} >
            Not Seen
          </label>
      </div>
      <div id="dialogMsg" class="fg-red"></div>
    </section>
    <footer>
      <button type='button' class="secondary" data-target="filterDialog" onclick="toggleModal(event)">Cancel</button>
      <button type='button' autofocus data-target="filterDialog" onclick="search();">Search</button>
    </footer>
  </article>
</dialog>


<dialog id="wizardDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="wizardDialog" onclick="toggleModal(event)"></button>
        <h3>Report on <span id="deviceName"></span><input type="hidden" id="wizcid" value=""></h3>
    </header>
      <div class="dialog-content" style="overflow-y: scroll; height: 12rem; ">
          <ul class="v-menu">
              <li><a href="#" onclick="showWizard('SIGHTING');"><span class="fg-green">{{.sightingIcon}}</span>I saw...</a></li>
              <li id="backupPick"><a href="#" onclick="showWizard('BACKUP');"><span class="fg-blue">{{.backupIcon}}</span>I backed up...</a></li>
              <li><a href="#" onclick="showWizard('CARE');"><span class="fg-red">{{.careIcon}}</span>It needs care...</a></li>
              <li><a href="#" onclick="showWizard('BROKEN');"><span class="fg-red">{{.brokenIcon}}</span>It broke...</a></li>
              <li><a href="#" onclick="showWizard('DIED');"><span class="fg-red">{{.diedIcon}}</span>It died...</a></li>
              <li><a href="#" onclick="showWizard('LOST');"><span class="fg-red">{{.lostIcon}}</span>It's Lost...</a></li>
              <li><a href="#" onclick="showWizard('USING');"><span class="fg-green">{{.usingIcon}}</span>I used...</a></li>
              <li><a href="#" onclick="showWizard('CLAIMING');"><span class="fg-blue">{{.claimingIcon}}</span>I claim...</a></li>
              <li><a href="#" onclick="showWizard('GIVING');"><span class="fg-blue">{{.givingIcon}}</span>I gave...</a></li>
              <li id="removePick"><a href="#" onclick="showWizard('REQUEST');"><span class="fg-blue">{{.removeIcon}}</span>I need Software...</a></li>
          </ul>
      </div>
    <footer>
      <button type='button' class="secondary" data-target="wizardDialog" onclick="toggleModal(event)">Cancel</button>
    </footer>
  </article>
</dialog>


<script src="js/devices.js" defer></script>
{{template "partials/bottom" .}}