{{template "partials/top" .}} {{template "partials/navbar" .}}
<main class="container">
  <form id="theForm" name="theForm" onsubmit="return false;" action="#" method="post" autocomplete="off">
    <div class="autogrid">

      <article>
        <header>
          {{ .devicesIcon }}&nbsp;<span id="asset">{{ .name }}</span>
        </header>
        <section>
          <input type="hidden" id="name" name="name" value="{{ .name }}" >
          <input type="hidden" id="active" name="active" value="{{ .active }}" >
          <input type="hidden" id="speed" name="speed" value="{{ .speed }}" >
          <input type="hidden" id="cid" name="cid" value="{{ .cid }}" >
          <input type="hidden" id="color" name="color" value="{{ .color }}" >
          <input type="hidden" id="curUid" name="curUid" value="{{ .curUid }}" >
          {{ .imageCtrl }}
          <label for="type">Device Type</label>
          {{ .typeCtrl }}
          <small id="typeErr">The device type is required</small>
          <label for="status">Status</label>
          {{ .statusCtrl }}
        </section>
      </article>
      
      <article>
        <header> 
          Device
        </header>
        <section>
          <label for="make">Manufacturer</label>
          {{ .makeCtrl }}
          <label for="model">Model</label>
          <input type="text" id="model" name="model" data-tooltip="Model"
              maxlength="255" value="{{ .model }}" {{if .isReadonly }} readonly {{end}}
              aria-invalid="false" aria-describedby="modelErr">  
          <small id="modelErr">Up to 255 characters</small>
          <label for="year">Year</label>
          {{ .years }}
          <label for="serial_number">Serial Number</label>
          <input type="text" id="serial_number" name="serial_number" data-tooltip="Serial Number"
              maxlength="100" value="{{ .serial_number }}" {{if .isReadonly }} readonly {{end}}
              aria-invalid="false" aria-describedby="serialErr">  
          <small id="serialErr">Serial Number: Up to 100 characters</small>
          <span id="ethernetFlag">
            <label for="ethernet"><input type="checkbox" id="ethernet" name="ethernet" 
              {{if (eq .ethernet 1) }} checked {{end}} {{if .isReadonly }} readonly {{end}} >
            Ethernet</label>
          </span>
          <span id="wifiFlag">
            <label for="wifi"><input type="checkbox" id="wifi" name="wifi"
              {{if (eq .wifi 1) }} checked {{end}} {{if .isReadonly }} readonly {{end}} >
            WiFi</label>
          </span>
          <span id="usbFlag">
            <label for="usb">
              <input type="checkbox" id="usb" name="usb"
                {{if (eq .usb 1) }} checked {{end}} {{if .isReadonly }} readonly {{end}} >
            USB</label>
          </span>
          <span id="cdFlag">
            <label for="cd"><input type="checkbox" id="cd" name="cd"
              {{if .isReadonly }} readonly {{end}} {{if (eq .cd 1) }} checked {{end}} >
            CD-Drive</label>
          </span>
        </section>
      </article>
      
      <article>
        <header>
          Assignment/Location
        </header>
        <section>
            <label for="gid">Group</label>
            {{ .groupCtrl }}
            <label for="uid">Person</label>
            <span id="selectPerson">
              {{ .uidCtrl }}
            </span>
            <label for="site">Site</label>
            {{ .siteCtrl }}
            <label for="office">Office</label>
            <span id="selectOffice">
              {{ .officeCtrl }}
            </span>
            <label for="location">Location</label>
            <input type="text" id="location" name="location" maxlength="100" data-tooltip="Location"
            value="{{ .locationCtrl }}" {{if .isReadonly }} readonly {{end}}
                aria-invalid="false" aria-describedby="locationErr">  
            <small id="locationErr">Max 100 characters</small>
        </section>
      </article>
      
      <article id="computerOnly">
        <header>
          Computer Details
        </header>
        <section>
          <label for="os">Operating System</label>
          {{ .osCtrl }}
          <label for="ram">RAM (GB)</label>
          <input type="number" id="ram" name="ram" data-tooltip="Ram (in Gigabytes)" maxlength="10"
            value="{{ .ramCtrl }}" {{if .isReadonly }} readonly {{end}}
              aria-invalid="false" aria-describedby="ramErr">  
          <small id="ramErr">Digits only</small>

          <label for="cpu">CPU</label>
          <input type="text" id="cpu" name="cpu" data-tooltip="CPU information"
            maxlength="100" value="{{ .cpuCtrl }}"
            {{if .isReadonly }} readonly {{end}}
              aria-invalid="false" aria-describedby="cpuErr">  
          <small id="cpuErr">Up to 100 letters</small>

          <label for="cores">Cores</label>
          {{ .coresCtrl }}
          <label for="drivetype">OS Drive Type</label>
          {{ .driveTypeCtrl }}

          <label for="drivesize">Drive Size (GB)</label>
          <input type="number" id="drivesize" name="drivesize" data-tooltip="Drive Size (GB)"
            maxlength="10" value="{{ .drivesizeCtrl }}"
            {{if .isReadonly }} readonly {{end}}
              aria-invalid="false" aria-describedby="drivesizeErr">  
          <small id="drivesizeErr">Numbers only</small>

          <label for="gpu">Graphics Card</label>
          <input type="text" id="gpu" name="gpu" maxlength="100" value="{{ .gpuCtrl }}"
            data-tooltip="General Processing Unit (GPU) information"
            {{if .isReadonly }} readonly {{end}}
              aria-invalid="false" aria-describedby="gpuErr">  
          <small id="gpuErr">Up to 100 letters</small>
        </section>
      </article>

      <article id="softwareOnly">
        <header>
          Installed Software
        </header>
        <section>
          {{ .software }}
        </section>
      </article>

      <article>
        <header>
          Notes
        </header>
        <section>
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" maxlength="255" data-tooltip="Notes" cols="40" rows="8"
              {{if .isReadonly }} readonly {{end}} >{{ .notesCtrl }}</textarea>
            <small id="notesErr">Up to 255 characters</small>
        </section>
      </article>
      
      <article id="backups">
        <header>
          Backups
        </header>
        <section style="max-height: 400px; overflow-y: auto;">
            {{ .backups }}
        </section>
      </article>

    </div>

    <article>
      <header>
        Action Log
      </header>
      <section>
        <div style="display: flex; justify-content: flex-end; align-items: center;">
          <label for="filter" style="margin-bottom: 0;">
              <input type="checkbox" id="filter" name="filter" role="switch" onchange="fetchLog(0)"> History
          </label>
        </div>
        <div id="actionLogDiv">{{ .actionLog }}</div>
      </section>
    </article>

  </form>
  <footer>
    Last Updated: {{ .fullname }} at {{ .last_updated_time }}
  </footer>
</main>


<dialog id="deleteDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="deleteDialog" onclick="toggleModal(event)"></button>
        <h3>Delete this device record?</h3>
    </header>
    <section>
      <p>Deleting a record is permanent.</p>
      <p>Are you sure you want to delete the <span id="deviceName"></span> record?</p>
    </section>
    <footer>
      <button type='button' onclick="confirmDelete();">Delete</button>
      <button type='button' class="secondary" data-target="deleteDialog" onclick="toggleModal(event)">Cancel</button>
    </footer>
  </article>
</dialog>


<dialog id="NotesDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="NotesDialog" onclick="toggleModal(event)"></button>
        <h3>Notes</h3>
    </header>
    <section id="pop">
          <p></p>
    </section>
    <input type="hidden" id="actionID" value="">
    <input type="hidden" id="actionName" value="">
    <footer>
      <button type='button' id="cmd" onclick="acceptAction();">Accept</button>
      <button type='button' id="details" class="secondary" onclick="goTicket();">Details...</button>
      <button type='button' class="secondary" data-target="NotesDialog" onclick="toggleModal(event)">Cancel</button>
    </footer>
  </article>
</dialog>


<dialog id="uploadDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="uploadDialog" onclick="toggleModal(event)"></button>
        <h3>Upload a device photo (.jpg)</h3>
    </header>
    <section id="uploadMessage">
      <p><input type="file" id="ajaxfile" name="ajaxfile" accept=".jpg" ></p>
      <br>
      <p>Do not upload copyrighted material. 
          Any copyrights / permissions / claims you have on the photo are 
          automatically forfeited when you upload the photo and are 
          then owned by the author of this software. 
          If you do not agree, do not upload your photo.</p>
    </section>
    <footer>
      <button type='button' id="cmd" onclick="uploadFile();">Upload</button>
      <button type='button' class="secondary" data-target="uploadDialog" onclick="toggleModal(event)">Cancel</button>
    </footer>
  </article>
</dialog>

<script src="js/device.js" defer></script>
<script src="js/table.js" defer></script>
{{template "partials/bottom" .}}