<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <meta name="author" content="StoneSoft">
    <meta name="description" content="Device Asset Information SYstem DAISY">
    <meta name="keywords" content="WKNC Weston King Neghbourhood Centre Device Asset Information SYstem DAISY">
    <title>DAISY</title>
</head>
<body>
    <h1>DAISY One Time Password Request</h1>
    <p>Hello {{ .Param1 }},</p>
    <p>&nbsp;</p>
	<p>Here is your one-time password: {{ .Param2 }}</p>
	<p>It is only valid for the next 15 minutes.</p>
	<p>Please complete your registration process and login now.</p>
    <p>&nbsp;</p>
	<p>Thank You.</p>
	<p>Your Daisy team.</p>
    <p>&nbsp;</p>
    <small>This email account is not monitored. Please do NOT reply to this email.</small>
    <small>If you received this email in error, please delete it.</small>
</body>
</html>