{{template "partials/top" .}} {{template "partials/navbar" .}}
<main class="container">
  {{.midCtrl}}
<div style="width:1440px; margin: 0 auto;">{{.deviceHistory}}</div>
</main>

<dialog id="helpDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="helpDialog" onclick="toggleModal(event)"></button>
        <h3>Online History</h3>
    </header>
    <section>
      <p>Colors:</p>
      <ul>
        <li>Green indicates the device was online.</li>
        <li>Grey indicates the device is offline.</li>
        <li>Pink indicates the network probe was down.</li>
      </ul>
    </section>
    <footer>
      <button type='button' data-target="helpDialog" onclick="toggleModal(event)">Okay</button>
    </footer>
  </article>
</dialog>

<script src="js/history.js" defer></script>
{{template "partials/bottom" .}}