{{template "partials/top" .}} {{template "partials/navbar" .}}
<main class="container">
  <div class="autogrid">
    <article>
      <header>
        <a href="#" id="theme_switcher" style="text-decoration: none;" data-tooltip="Themes: System (🌓), Dark (🌙), Light (☀️)"></a> <span id="greeting"></span> {{ .firstName }}
      </header>
      {{ .lastLoginMsg }}
    </article>  
    
    <article>
      <header>{{.devicesIcon}} Assigned Devices</header>
      {{ .assigned }}
    </article>
  
    <article>
      <header>
        {{.devicesIcon}}&nbsp;Online Devices (per day)
      </header>
      <section>
        {{.onlineSpark}}
        <p>Max: {{.maxHitsMonth}} in the past 30 days</p>
        <p>{{.onlineCount}} Currently online. (excludes guest WiFi)</p>
      </section>
      <footer>
        <a href="online.html" role="button">Online</a>
      </footer>
    </article>

    <article>
      <header>
        {{.wizardIcon}} Wizards
      </header>
      <section>
        {{.wizardsSelect}}
      </section>
      <footer>
        <button type='button' onclick="startWizard()">Wizard...</button>
      </footer>
    </article>
    
    <article>
      <header class="{{ .btnColour }}">
        {{.bellIcon}} Alerts
      </header>
      <section id="alerts">
        {{ .myAlerts }}
      </section>
      <footer>
        <a href="tickets.html" role="button">{{.ticketIcon}} {{ .btnLabel }}</a>
      </footer>
    </article>
  </div>
</main>
<script src="js/home.js" defer></script>
{{template "partials/bottom" .}}