{{template "partials/top" .}} {{template "partials/navbar" .}}
<main class="container">
  <div class="grid">
    <article>
      <header>
        <a href="#" id="theme_switcher" style="text-decoration: none;" data-tooltip="Themes: System (🌓), Dark (🌙), Light (☀️)"></a> <span id="greeting"></span> {{ .firstName }}
      </header>
      {{ .lastLoginMsg }}
    </article>  
    
    <article>
      <header>{{.devicesIcon}} Assigned Devices</header>
      {{ .assigned }}
    </article>
  </div>

  <div class="grid">
    <article>
      <header>
        {{.wizardIcon}} Wizards
      </header>
      <div class="custom-select">
        <select id="wizkey" name="wizkey">
          <option value="SIGHTING" selected="selected" data-color="green">{{.eyeIcon}} I saw...</option>
          <option value="USING">{{.ticketIcon}} I used...</option>
          <option value="CLAIMING">{{.tagIcon}} I claim...</option>
          <option value="GIVING">{{.tagIcon}} I gave...</option>
          <option value="CARE">{{.wrenchIcon}} It needs care...</option>
          <option value="BROKEN">{{.brokenIcon}} It broke...</option>
          <option value="DIED">{{.stethoscopeIcon}} It died...</option>
          <option value="LOST">{{.stepsIcon}} It's lost...</option>
          <option value="BACKUP">{{.copyIcon}} I backed up...</option>
          <option value="INSTALL">{{.softwareIcon}} I installed software...</option>
          <option value="REQUEST">{{.softwareIcon}} I need software...</option>
        </select>
      </div>
      <footer>
        <button type='button' onclick="startWizard()">Wizard...</button>
      </footer>
    </article>
    
    <article>
      <header class="{{ .btnColour }}">
        {{.bellIcon}} Alerts
      </header>
      <section id="alerts">
        {{ .myAlerts }}
      </section>
      <footer>
        <a href="tickets.html" role="button">{{.ticketIcon}} {{ .btnLabel }}</a>
      </footer>
    </article>
  </div>

</main>
<footer class="container">
</footer>

<script src="js/home.js" defer></script>
{{template "partials/bottom" .}}