<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, user-scalable=yes">
    <meta name="color-scheme" content="light dark">
    <meta name="author" content="StoneSoft">
    <meta name="description" content="Device Asset Information SYstem DAISY">
    <meta name="keywords" content="WKNC Weston King Neghbourhood Centre Device Asset Information SYstem DAISY">
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" HREF="favicon.ico">
    <link rel="stylesheet" href="css/pico.min.css">
    <link rel="stylesheet" href="css/snackbar.css">
    <script src="js/zepto.min.js" defer></script>
    <script src="js/dialog.js" defer></script>
    <script src="js/theme.js" defer></script>
    <script src="js/snackbar.js" defer></script>
    <script src="js/index.js" defer></script>
    <title>DAISY</title>
</head>
<body>
    <header class="container">
        <span style="font-size:2rem">&#127809;</span> Device Asset Information System
        <nav>
        <ul>
          <li>
            <details class="dropdown">
              <summary role="button" class="secondary">Theme</b></summary>
              <ul>
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
        <input type="hidden" id="nextpage" name="nextpage" value="{{.nextpage}}">
        <p class="mt-5">Welcome {{ .username }}</p>
        <p>
            For access to this web application you agree to the following:
            <ul>
                <li><a href="#" data-target="Terms" onclick="toggleModal(event)">Terms&nbsp;&amp;&nbsp;Conditions</a></li>
                <li><a href="#" data-target="Privacy" onclick="toggleModal(event)">Privacy Policy</a></li>
                <li><a href="#" data-target="Location" onclick="toggleModal(event)">Location Collection</a></li>
            </ul> 
        </p>
        <p>
            <span id="msg"></span>
        </p>
        <button id="btn" disabled onclick="doAccept()">Accept</button>
    </main>
    <footer class="container">
        <small class="fg-darkGray">
            <p>All Rights reserved.</p>
            <p>For further information contact: webmaster@wknc.ca</p>
        </small>
    </footer>

<dialog id="Terms">
  <article>
    <header>
        <button aria-label="Close" rel="prev" data-target="Terms" onclick="toggleModal(event)"></button>
        <h3>Terms&nbsp;&amp;&nbsp;Conditions</h3>
    </header>
    <p>Please read these Terms and Conditions carefully before using this website.</p>

    <details name="tnc" open>
    <summary><b>Conditions of use</b></summary>
    <p>
        By using this website, you certify that you have read and reviewed
        this Agreement and that you agree to comply with its terms. If you do
        not want to be bound by the terms of this Agreement, you are advised
        to leave the website accordingly. We only grant use and access of this
        website, its products, and its services to those who have accepted its
        terms.
    </p>
    </details>
    <details name="tnc">
    <summary><b>Privacy policy</b></summary>
    <p>
        Before you continue using our website, we advise you to read our
        Privacy Policy regarding our user data collection. 
        It will help you better understand our practices.
    </p>
    </details>

    <details name="tnc">
    <summary><b>Age restriction</b></summary>
    <p>
        You must be at least 18 (eighteen) years of age before you can use
        this website. By using this website, you warrant that you are at least
        18 years of age and you may legally adhere to this Agreement. We
        assume no responsibility for liabilities related to age
        misrepresentation.
    </p>
    </details>

    <details name="tnc">
    <summary><b>Intellectual property</b></summary>
    <p>
        You agree that all materials, products, and services provided on this
        website are our property, its affiliates, directors, officers,
        employees, agents, suppliers, or licensors including all copyrights,
        trade secrets, trademarks, patents, and other intellectual property.
        You also agree that you will not reproduce or redistribute this
        intellectual property in any way, including electronic, digital, or
        new trademark registrations.
    </p>
    <p>
        You grant us a royalty-free and non-exclusive license to display, use,
        copy, transmit, and broadcast the content you upload and publish. For
        issues regarding intellectual property claims, you should contact the
        company in order to come to an agreement.
    </p>
    </details>

    <details name="tnc">
    <summary><b>User accounts</b></summary>
    <p>
        As a user of this website, you may be asked to register with us and
        provide private information. You are responsible for ensuring the
        accuracy of this information, and you are responsible for maintaining
        the safety and security of your identifying information. You are also
        responsible for all activities that occur under your account or
        password.
    </p>
    <p>
        If you think there are any possible issues regarding the security of
        your account on the website, inform us immediately so we may address
        them accordingly.
    </p>
    <p>
        We reserve all rights to terminate accounts, edit or remove content
        and cancel orders at our sole discretion.
    </p>
    </details>

    <details name="tnc">
    <summary><b>Applicable law</b></summary>
    <p>
        By visiting this website, you agree that the laws of Canada, without
        regard to principles of conflict laws, will govern these terms and
        conditions, or any dispute of any sort that might come between us and
        you, or its business partners and associates.
    </p>
    </details>

    <details name="tnc">
    <summary><b>Disputes</b></summary>
    <p>
        Any dispute related in any way to your visit to this website or to
        products you purchase from us shall be arbitrated by state or federal
        court Canada and you consent to exclusive jurisdiction and venue of
        such courts.
    </p>
    </details>

    <details name="tnc">
    <summary><b>Indemnification</b></summary>
    <p>
        You agree to indemnify us and our affiliates and hold us harmless
        against legal claims and demands that may arise from your use or
        misuse of our services. We reserve the right to select our own legal
        counsel.
    </p>
    </details>

    <details name="tnc">
    <summary><b>Limitation on liability</b></summary>
    <p>
        We are not liable for any damages that may occur to you as a result of
        your misuse of our website.
    </p>
    <p>
        We reserve the right to edit, modify, and change this Agreement at any
        time. We shall let our users know of these changes through this
        document. This Agreement is an understanding between us and the user,
        and this supersedes and replaces all prior agreements regarding the
        use of this website.
    </p>
    </details>
    <footer>
      <button autofocus data-target="Terms" onclick="toggleModal(event)">Confirm</button>
    </footer>
  </article>
</dialog>

<dialog id="Privacy">
  <article>
    <header>
        <button aria-label="Close" rel="prev" data-target="Privacy" onclick="toggleModal(event)"></button>
        <h3>Privacy Policy</h3>
    </header>
    <p>
        This privacy policy will help you understand how we use and protect
        the data you provide to us when you visit and use this website.
    </p>
    <p>
        We reserve the right to change this policy at any given time, of which
        this document will be promptly updated. If you want to make sure that
        you are up to date with the latest changes, we advise you to
        frequently visit this page.
    </p>

    <details name="pri">
        <summary><b>What User Data We Collect</b></summary>   
        <p>When you visit the website, we may collect the following data:</p>
        <ul>
            <li>Your IP address</li>
            <li>Your Location (Latitude, Longitude, city and community)</li>
            <li>Your contact information and email address</li>
            <li>Other information such as usage metrics</li>
            <li>Data regarding your online behavior within our website only</li>
        </ul>
    </details>

    <details name="pri">
        <summary><b>Why We Collect Your Data</b></summary>
        <p>We are collecting your data for several reasons:</p>
        <ul>
            <li>Website Security and Geo-fencing</li>
            <li>To better understand your needs</li>
            <li>To improve our services and products</li>
            <li>To customize our website according to your online behavior and personal preferences</li>
        </ul>

        <p>We do not collect your data for any of the following reasons:</p>
        <ul>
            <li>
                NOT to send you promotional emails
            </li>
            <li>
                NOT to contact you to fill out surveys and participate in other
                types of market research
            </li>
            <li>
                NOT to resell or externally distribute any of your contact information
            </li>
        </ul>
    </details>

    <details name="pri">
        <summary><b>Safeguarding and Securing the Data</b></summary>
        <p>
            We are committed to securing your data and keeping it confidential. We
            have done all in our power to prevent data theft, unauthorized access,
            and disclosure by implementing the latest technologies and software,
            which help us safeguard all the information we collect online.
        </p>
    </details>

    <details name="pri">
        <summary><b>Our Cookie Policy</b></summary>
        <p>
            Once you agree to allow our website to use cookies by logging in, you
            also agree to us using the data it collects regarding your online
            behavior while using this website to analyze our web traffic, resolve
            issues, track web pages you spend the most time on, and external
            website links you use.
        </p>
        <p>
            The data we collect by using cookies is used to customize our website
            to your needs. After we use the data for statistical analysis, the
            data is removed from our systems.
        </p>
        <p>
            Please note that cookies don't allow us to gain control of your
            computer in any way. They are strictly used to monitor which pages you
            find useful and which you do not so that we can provide a better
            experience for you.
        </p>
        <p>
            If you want to disable cookies, you can do it by accessing the
            settings of your internet browser. Please do a online search how to do
            this for your particular browser.
        </p>
    </details>

    <details name="pri">
        <summary><b>Links to Other Websites</b></summary>
        <p>
            Our website may contain links that lead to other websites. If you click
            on these links, we will not held responsible for your data and privacy
            protection. Visiting those websites is not governed by this privacy
            policy agreement. Make sure to read the privacy policy documentation
            of the websites you go to.
        </p>
    </details>

    <details name="pri">
        <summary><b>Restricting the Collection of your Personal Data</b></summary>
        <p>
            By using this website, you agreed to share your information (IP
            Address, Location, ID, Given Name, Family Name, URL Link to photo, and
            email address) with us. Feel free to contact us via email and we will
            be more than happy to to assist in removing any records containing
            your information.
        </p>
        <p>
            We will not lease, sell or distribute your personal information to any
            third parties, unless we have your permission, or if law enforcement
            compels us. Your personal information will be used when we need to
            send you information if you agree to this privacy policy by using this
            website.
        </p>
    </details>
    <footer>
      <button autofocus data-target="Privacy" onclick="toggleModal(event)">Confirm</button>
    </footer>
  </article>
</dialog>

<dialog id="Location">
  <article>
    <header>
        <button aria-label="Close" rel="prev" data-target="Location" onclick="toggleModal(event)"></button>
        <h3>Location Collection</h3>
    </header>
    <p>Your current location is essential for application security and Geo-fencing.</p>
    <p>It is collected every time you start to use this website application.</p>
    <p>If you deny permission to collect your location, you will not be permitted to access this web application.</p>
    <footer>
      <button autofocus data-target="Location" onclick="toggleModal(event)">Confirm</button>
    </footer>
  </article>
</dialog>
   
<div id="snackbar-container" aria-live="polite" aria-atomic="true"></div> 
</body>
</html>