{{template "partials/top2" .}}
<header class="container">
    <nav>
        <ul>
            <li><span style="font-size:2rem">&#127809;</span> Device Asset Information System</li>
        </ul>
    </nav>
</header>
<main class="container">
    <article>
        <header><img src="/icons/user.svg" alt="user" width="48px" height="48px" />&nbsp;Login</header>
        <p>Welcome</p>
        <p>{{.fullname}}</p>
        <input type="hidden" id="username" value="{{.user}}" >
        <footer>
            <button autofocus onclick="startLogin()">Log In...</button>
            <button class="secondary" onclick="registerMe()">Register...</button>
        </footer>
    </article>
</main>

<footer class="container">
    <small>
        <p>All Rights reserved.</p>
        <p>For further information contact: webmaster@wknc.ca</p>
    </small>
</footer>

<script src="js/index.es5.umd.min.js" defer></script>
<script src="js/login.js" defer></script>
{{template "partials/bottom2" .}}