{{template "partials/top" .}} {{template "partials/navbar" .}}
<main class="container">

 <div class="autogrid">

    <article>
      <header>
        {{.devicesIcon}}&nbsp;Online Network Devices
      </header>
      <section>
        <p>Online Devices (per day)</p>
        <p>{{.onlineSpark}}</p>
        <p>Max: {{.maxHitsMonth}} in the past 30 days</p><br>
        <p>{{.onlineCount}} Currently Online, excluding all devices on FreeWiFi.</p>
        <p>{{.offlineCount}} Offline</p>
      </section>
      <footer>
        <button type='button' class="button primary js-dialog-close" onclick="goToOnline();">Show Online...</button>
      </footer>
    </article>
    
    <article>
      <header>
        {{.devicesIcon}}&nbsp;Device History
      </header>
      <section>
        {{.midCtrl}}
      </section>
      <footer>
        <button type='button' class="button primary js-dialog-close" onclick="goToHistory();">Show History...</button>
      </footer>
    </article>

    
    <article>
      <header>
        {{.devicesIcon}}&nbsp;Online Overlap (%)
      </header>
      <section>
        <div style="overflow-y: scroll; height: 12rem; ">
        {{.avoidanceList}}
        </div>
      </section>
      <footer>
        <button type='button' class="button primary js-dialog-close" onclick="goToDuplicates();">Show Duplicates...</button>
        <button type='button' class="button secondary js-dialog-close" onclick="goToCorrealtion();">Show Correlation...</button>
      </footer>
    </article>
  
  </div>

  <div style="width:1440px; margin: 0 auto;">
    <img src="{{.networkImage}}" alt="Network Diagram" width="100%" height="100%">
  </div>

</main>


<dialog id="helpDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="helpDialog" onclick="toggleModal(event)"></button>
        <h3>Network</h3>
    </header>
    <section>
      Network Diagram
    </section>
    <footer>
      <button type='button' data-target="helpDialog" onclick="toggleModal(event)">Okay</button>
    </footer>
  </article>
</dialog>

<script src="js/network.js" defer></script>
{{template "partials/bottom" .}}