{{template "partials/top" .}} {{template "partials/navbar" .}}
<div class="container">
  <div class="grid">
    <div class="row">
      <div class="cell-12">
        <input type="date" id="plotDate" name="plotDate" min="{{.minDate}}" max="{{.maxDate}}" value="{{.dateParam}}"  aria-label="Date" onchange="loadOnlineDevices()" /> 
      </div>
    </div>
  </div>
</div>
<div style="width:1440px; margin: 0 auto;">{{.onlineDevices}}</div>



<dialog id="popup">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="popup" onclick="toggleModal(event)"></button>
        <h3>Device</h3>
    </header>
  <section>
        <form id="theForm" name="theForm" onsubmit="return false;" action="#" method="post" autocomplete="off">
        <div>
            <input type="hidden" id="mid" name="mid" value="">
            <input type="hidden" id="mac" name="mac" value="">
            <input type="hidden" id="site" name="site" value="">

            <div id="summary" class="borderbox"></div>
            
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value=""
              autocomplete="off" placeholder="Device Name" title="Device Name"
              required minlength="6" maxlength="50" autofocus
              {{if .Readonly }}readonly{{end}} >
            <small id="nameError" class="invalid_feedback">Mandatory name for the device</small>

            {{.kindCtrl}}
            <div id="selectOffice">{{.officeCtrl}}</div>
            
            <label for="location">Location</label>
            <input type="text" id="location" name="location" value=""
              autocomplete="off" placeholder="Device location" title="Device Location"
              maxlength="100"
              {{if .Readonly }}readonly{{end}} >
            <small id="locationError" class="invalid_feedback">Location of the device</small>

            <label for="note">Note</label>
            <input type="text" id="note" name="note" value=""
              autocomplete="off" placeholder="Comments" title="Comments"
              maxlength="255">
            <small id="noteError" class="invalid_feedback">Comments are optional.</small>
        </div>
      </form>
  </section>
    <footer>
      <button type='button' id="cmd" onclick="doSave();">Save</button>
      <button type='button' class="secondary" data-target="popup" onclick="toggleModal(event)">Cancel</button>
      <button type='button' class="secondary" onclick="doHistory();" >History...</button>
    </footer>
  </article>
</dialog>


<dialog id="helpDialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="helpDialog" onclick="toggleModal(event)"></button>
        <h3>Online Detection</h3>
    </header>
    <section>
      <p>Colors:</p>
      <ul>
        <li>Green indicates the device was online.</li>
        <li>Gray indicates the device is offline.</li>
        <li>Pink indicates the network probe was down or its a future time.</li>
      </ul>
      <p>Clicking on a online/offline device bar will open a dialog where you can edit the device information.</p>
      <hr>
      <p>When a device connects to the network, it is identified by its MAC address. 
        This address is unique to each network interface card (NIC) and can be used to track the device's online status.</p>
      <hr>
      <p>A computer can show up multiple times with different MAC addresses because it can have multiple NICs. 
        For example, one for Ethernet and one for WiFi. They generally not appear online simultaneously. </p>
      <hr>
      <p>Most cellphones randomize their Machine Address (MAC) to help prevent user tracking. 
        They may use the same MAC when reconnecting to the same network.</p>
    </section>
    <footer>
      <button type='button' class="secondary" data-target="helpDialog" onclick="toggleModal(event)">Cancel</button>
    </footer>
  </article>
</dialog>

<script>
  officeCache = JSON.parse('{{.offices}}');
</script>
<script src="js/online.js" defer></script>
{{template "partials/bottom" .}}