{{template "partials/top2" .}} {{template "partials/navbar2" .}}
<main class="container">
    <input type="search" id="txtSearch" name="txtSearch" placeholder="Search" aria-label="Search" style="display: none;">
    {{ .profilesTable }}

<!-- Options -->
<select id="single">
  <option value="value 1">Value 1</option>
  <option value="value 2">Value 2</option>
  <option value="value 3">Value 3</option>
</select>

</main>
<script src="js/profiles.js" defer></script>
<script src="js/grid.js" defer></script>
{{template "partials/bottom2" .}}