{{template "partials/top2" .}} {{template "partials/navbar2" .}}
<main class="container">
  <form id="theForm" name="theForm" action="#" method="post" autocomplete="off">
    <div class="grid">

      <article>
        <header>
          {{.profilesIcon}} User Profile
          <input type="hidden" id="uid" name="uid" value="{{ .uid }}" >
          <input type="hidden" id="color" name="color" value="{{ .color }}" >
          <input type="hidden" id="curUid" name="curUid" value="{{ .curUid }}" >
          <input type="hidden" id="pwd_reset" name="pwd_reset" value="{{ .pwd_reset }}" >
        </header>

        <fieldset>

          <label for="user">{{.userIcon}} User ID</label>
            <input type="email" id="user" name="user" value="{{ .userid }}"
              autocomplete="off" placeholder="User ID" title="User Identifier"
              required minlength="6" maxlength="100" autofocus
              {{if .Readonly }}readonly{{end}} >
          <small id="userError">Mandatory unique email address</small>

          <label for="first">First Name</label>
          <input type="text" id="first" name="first" value="{{ .first }}"
            placeholder="User's first name" title="User's first name"
            required autocomplete="off" minlength="1" maxlength="50"
            {{if .Readonly }}readonly{{end}} >
          <small id="firstError" class="invalid_feedback">Min 1 character</small>

          <label for="last">Last Name</label>
          <input type="text" id="last" name="last" value="{{ .last }}"
            placeholder="User's last name" title="User's last name"
            required autocomplete="off" minlength="2" maxlength="50"
            {{if .Readonly }}readonly{{end}} >
          <small id="lastError">Min 2 characters</small>

          <label for="group">{{.groupIcon}} Group</label>
            {{ .GroupOptions }}
          <small id="groupError">Select a Group</small>

          <label for="fence">{{.locationIcon}} Geo-Fence Site</label>
            {{ .FenceOptions }}
          <small id="fenceError">Select a geo-fence site</small>

          <label for="geo_radius">Fence Radius</label>
          <select name="geo_radius" id="geo_radius" title="Geo Radius"
            data-role="select" data-filter="false"
            {{if .isDisabled }}disabled{{end}} >
            {{ .RadiusOptions }}
          </select>
          <small class="invalid_feedback">Oh Oh</small>

            
          <span>{{ .chkNotify }} {{ .chkActive }}</span>

        </fieldset>
        <footer>
          {{ .banned }}
        </footer>
      </article>

      <article>
        <header>
          <span class='mif-devices'></span>&nbsp;Assigned Devices
        </header>
        <section>
          {{ .assigned_devices }}
        </section>
        <footer>
        </footer>
      </article>

      <article>
        <header>
          <span class='mif-bell'></span>&nbsp;Alerts
        </header>
        <section>
          {{ .userAlerts }}
        </section>
        <footer>
        </footer>
      </article>
    </div>

    <div class="grid">
      <article>
        <header>
          <span class='mif-user'></span>&nbsp;Login History (90 days)
        </header>
        <section>
          {{ .loginHistory }}
        </section>
        <footer>
        </footer>
      </article>
    </div>

    <div class="grid">
      <article>
        {{ .lastUpdated }} &nbsp;
      </article>
    </div>
  </form>
</main>
<footer class="container">
</footer>

<script src="js/profile.js" defer></script>
{{template "partials/bottom2" .}}
