{{template "partials/top2" .}} {{template "partials/navbar2" .}}
<form id="theForm" name="theForm" action="#" method="post" autocomplete="off">
<main class="container">
    <div class="grid">

      <div>
      <article>
        <header>
          {{.profilesIcon}} User Profile
          <input type="hidden" id="uid" name="uid" value="{{ .uid }}" >
          <input type="hidden" id="color" name="color" value="{{ .color }}" >
          <input type="hidden" id="curUid" name="curUid" value="{{ .curUid }}" >
          <input type="hidden" id="pwd_reset" name="pwd_reset" value="{{ .pwd_reset }}" >
        </header>

        <fieldset>

          <label for="user">{{.userIcon}} User ID</label>
          <input type="email" id="user" name="user" value="{{ .userid }}"
            autocomplete="email" placeholder="User's Email Address...'" data-tooltip="User Identifier"
            minlength="6" maxlength="100" autofocus
            {{if .Readonly }}readonly{{end}} aria-invalid="false" aria-describedby="userErr">
          <small id="userErr" class="err">Mandatory: Must be a unique email address</small>

          <label for="first">First Name</label>
          <input type="text" id="first" name="first" value="{{ .first }}"
            autocomplete="off" placeholder="User's first name" data-tooltip="User's first name"
            minlength="2" maxlength="50"
            {{if .Readonly }}readonly{{end}} aria-invalid="false" aria-describedby="firstErr">
          <small id="firstErr" class="err">Required</small>

          <label for="last">Last Name</label>
          <input type="text" id="last" name="last" value="{{ .last }}" 
            autocomplete="off" placeholder="User's last name" data-tooltip="User's last name"
            minlength="2" maxlength="50"
            {{if .Readonly }}readonly{{end}}  aria-invalid="false" aria-describedby="lastErr">
          <small id="lastErr" class="err">Required</small>

          <label for="gid">{{.groupIcon}} Group</label>
            {{ .GroupOptions }}
          <small id="groupError" class="err">Select a Group</small>

          <label for="geo_fence">{{.locationIcon}} User's Base Site</label>
            {{ .FenceOptions }}
          <small id="fenceError" class="err">Select a geo-fence site</small>

          <label for="geo_radius">Fence Radius</label>
          <select name="geo_radius" id="geo_radius" title="Geo Radius"
            data-role="select" data-filter="false"
            {{if .isDisabled }}disabled{{end}} >
            {{ .RadiusOptions }}
          </select>
          <small  class="err"></small>
          
          {{ .chkNotify }}
          <label for="notify">Notify</label>
          {{ .chkActive }}
          <label for="active">Active</label>
          
        </fieldset>
        <footer>
          {{ .banned }}
        </footer>
      </article>

      </div>
      <div>
      
      <article>
        <header>
          <span class='mif-devices'></span>&nbsp;Assigned Devices
        </header>
        <section>
          {{ .assigned_devices }}
        </section>
        <footer>
        </footer>
      </article>

      <article>
        <header>
          {{.bellIcon}} Alerts
        </header>
        <section id="alerts">
          {{ .userAlerts }}
        </section>
        <footer>
        </footer>
      </article>
      
      </div>
    </div>

    <div class="grid">
      <article>
        <header>
          <span class='mif-user'></span>&nbsp;Login History (90 days)
        </header>
        <section>
          {{ .loginHistory }}
        </section>
        <footer>
        </footer>
      </article>
    </div>

    <div class="grid">
      <article>
        {{ .lastUpdated }} &nbsp;
      </article>
    </div>
</main>

<!-- The Sticky Footer -->
  <footer class="container sticky-footer">
    <nav class="container">
      <ul>
        <li>
          {{.add_button}}
          {{.delete_button}}
        </li>
      </ul>
      <ul>
        <li>
          {{.save_button}}
        </li>
      </ul>
    </nav>
  </footer>


</form>

<dialog id="delete-dialog">
  <article>
    <header>
        <button type='button' aria-label="Close" rel="prev" data-target="delete-dialog" onclick="toggleModal(event)"></button>
        <h3>Deleting profile record!</h3>
    </header>
    <p><b>Warning:</b> Deleting a profile is permanent.</p> 
    <p>Are you sure you want to delete <span id="displayName">this</span> profile?</p>
    <footer>
      <button type='button' class="secondary" data-target="delete-dialog" onclick="toggleModal(event)">Cancel</button>
      <button type='button' autofocus data-target="delete-dialog" onclick="toggleModal(event);deleteProfile(); ">Confirm</button>
    </footer>
  </article>
</dialog>

<script src="js/profile.js" defer></script>
{{template "partials/bottom2" .}}
