{{template "partials/top" .}}
<header class="container">
    <nav>
        <ul>
            <li><span style="font-size:2rem">&#127809;</span> Device Asset Information System</li>
        </ul>
    </nav>
</header>
<main class="container">
    <article>
        <header>
            {{.userIcon}}&nbsp;Registration
        </header>
        
        <form id="theForm" name="theForm" onsubmit="return false;" action="#" method="post" autocomplete="off">
            <section>
                <fieldset>
                    <input type="hidden" id="apicode" name="apicode" value="{{.apicode}}">
                    <label for="username">User ID</label>
                    <input type="email"  id="username" name="username" placeholder="username" 
                        value="{{.user}}" title="User Identifier" autocomplete="email" 
                        required minlength="6" maxlength="60" autofocus
                        aria-label="User Identifier" aria-describedby="username-helper" />
                    <small id="username-helper">Required. Your assigned email address</small>
                </fieldset>

                <fieldset id="enterPasscode" style="display:none">
                    <label for="passcode">Passcode (valid for <span id="mins">15</span> minutes)</label>
                    <input type="text" 
                        id="passcode" name="passcode" disabled placeholder="passcode" value=""
                        minlength="5" maxlength="20" required 
                        aria-label="passcode"
                        aria-describedby="passcode-helper" >
                    <small id="passcode-helper">Enter the passcode emailed to you.</small>
                </fieldset>
                <footer>
                    <button id="btnOkay" type='submit'>Okay</button>
                </footer>
            </section>
        </form>
    </article>
</main>
<footer class="container">
    <small>
        <p>All Rights reserved.</p>
        <p>For further information contact: webmaster@wknc.ca</p>
    </small>
</footer>
<script src="js/index.es5.umd.min.js" defer></script>
<script src="js/registration.js" defer></script>
{{template "partials/bottom" .}}