{{template "partials/top" .}} {{template "partials/navbar" .}}
 <form id="ticketForm" name="ticketForm" data-role="validator" action="#"
    method="post" data-interactive-check="false" autocomplete="off"
    onsubmit="event.preventDefault();"
    data-on-before-submit="return false();" >

    <input type='hidden' id='openedGMT' value="{{ .openedGMT }}" >
    <input type='hidden' id='closedGMT' value="{{ .closedGMT }}" >
    <input type="hidden" id="aid" value="{{.aid}}" >
    <input type="hidden" id="cid" value="{{.cid}}" >
    <input type="hidden" id="active" value="{{.active}}" >

    <div class="container">

        <div class="myCards">

            <div class="myCard">
                <header>
                    <span class="mif-news"></span> {{.status}} Ticket {{.aid}} 
                </header>
                <section>
                    <label for="originator">Origin</label>
                    <input type="text" id="originator" value="{{.originator}}" 
                        placeholder="Originator" title="{{ .email }}"
                        required minlength="6" maxlength="50" readonly
                        data-role="input" data-prepend="<span class='mif-user'></span>"
                        data-validate="required, minlength=6 maxlength=50" >
                    
                    <label for="opened">Opened</label>
                    <input type="text" id="opened" name="opened" 
                    data-role="input" readonly 
                    data-prepend="<span class='mif-calendar'></span>"
                    value="{{.opened}}">

                    {{.troubleCtrl}}

                    <label for="report">Report</label>
                    {{.report}}

                    <label for="impact">Impact</label>
                    {{.impactCtrl}}

                    <label>Details</label>
                    <p style="border: 1px solid silver; background-color: gainsboro; padding: 1rem;">
                        {{.notes}}
                    </p>
                    <small class="invalid_feedback">Oh No!</small>
                </section>
                <footer></footer>
            </div>
       
            <div class="myCard">
                <header>
                    <span class="{{.deviceIcon}}"></span> Device &sol; <span class="mif-apps"></span> Software</span>
                </header>
                <img src="images/{{ .image }}" id='pic' alt="device image">
                <section>
                    <label for="name">Device</label>
                    {{.deviceCtrl}}
                    <hr>
                    {{.softwareCtrl}}
                </section>
                <footer></footer>
            </div>

            <div class="myCard">
                <header>
                    Notifications
                </header>
                <section>
                    <fieldset class="fieldset">
                        <legend class="legend">Highlight</legend>
                        <p>{{.ctrlCidAck}}</p>
                        <p>{{.ctrlSidAck}}</p>
                    </fieldset>
                    <br>
                    <label for="informs">Notify at Close</label>
                    {{.informList}}
                    <button type="button" id="plusButton" disabled onclick="plusInform();"><span class="mif-plus fg-green icon"></span></button>
                    <button type="button" id="minusButton" disabled onclick="minusInform();"><span class="mif-cross fg-red icon"></span></button>
                </section>
                <footer></footer>
            </div>
        
        <div class="myCard">
            <header>
                Progress
            </header>
            <section>
                <label for="cmd">Stage</label>
                <select id='cmd' data-role="select" data-filter="false" >
                    <option value='INVESTIGATE'>Investigate</option>
                    <option value='SOLUTION'>Solution</option>
                    <option value='WAITING'>Waiting</option>
                    <option value='VERIFY'>Verify</option>
                    <option value='CLOSED'>Closed</option>
                </select>
                
                <label for="log">Comment</label>
                
                <input type="text" id="log" name="log" value=""
                placeholder="Enter comment" title="Your Comment" 
                required autocomplete="off" 
                minlength="3" maxlength="255" 
                data-role="input" data-prepend="<span class='mif-comment'></span>"
                data-validate="required minlength=3 maxlength=255" >
            </section>
            <footer>
                <button type="button" class="button primary" id="addButton" disabled onclick="addComment();">Add</button>
            </footer>
        </div>

        <div class="myCard">
            <header>
                Progress Log
            </header>
            <section id="workLog">
                {{ .wlog }}
            </section>
            <footer>
            </footer>
        </div>

    </div>

</form>
    
<div class="dialog" data-role="dialog" id="routeDialog">
    <div class="dialog-title">Route</div>
    <div class="dialog-content">
        <input type="hidden" id="oldgid" value="{{ .gid }}" >
        <input type="hidden" id="olduid" value="{{ .uid }}" >
        <input type="hidden" id="oldgroup" value="{{ .assignGroup }}" >
        <input type="hidden" id="olduser" value="{{ .assignUser }}" >
        <label for="gid">Queue</label>
            {{.assignedGroup}}
        <label for="uid">User</label>
        <div id="selectPerson">
            {{.assignedUser}}
        </div>
        <label for="comment">Comment</label>
        <div class="input">
            <input type="text" id="comment" name="comment" value="" 
            placeholder="Routing comment" title="Routing Comment" 
            autocomplete="off" maxlength="255" data-role="input"
            data-prepend="<span class='mif-comment'></span>" 
            data-validate="maxlength=255" class="" data-role-input="true">
        </div>
    </div>
    <div class="dialog-actions">
        <button class="button primary js-dialog-close" onclick="route();">Okay</button>
        <button class="button js-dialog-close">Cancel</button>
    </div>
</div>

  
<div class="dialog" data-role="dialog" id="addInform">
    <div class="dialog-title">Notify At Close</div>
    <div class="dialog-content">
            {{ .informGroup }} 
        <div id="selectInformUser">
            {{ .informUser }} 
        </div>
    <div class="dialog-actions">
        <button class="button primary js-dialog-close" onclick="addInform();">Add</button>
        <button class="button js-dialog-close">Cancel</button>
    </div>
  </div>
</div>

<script src="js/ticket.js" defer></script>
<script src="js/ajax.js" defer></script>
{{template "partials/bottom" .}}