
<header class="container">
  <nav>
    <ul>
      <li><a href="#" class="sidebar-toggle" aria-label="Open menu" onclick="toggleMenu(); document.body.scrollTop = 0; document.documentElement.scrollTop = 0;">☰</a></li>
      <li><span style="font-size:2rem">&#127809;</span>&nbsp;<b>Daisy</b></li>
    </ul>
    <ul>
      <li class="top-title">{{ .title }}</li>
      <li>{{ .cmd_one }}</li>
      <li>{{ .cmd_two }}</li>
      <li>{{ .cmd_three }}</li>
      <li>
            <details class="dropdown">
            <summary>Theme</summary>
            <ul>
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
            </details>
        </li>
        <li>
          <details class="dropdown">
            <summary>{{.userIcon}}&nbsp;<span id="userName">{{ .fullName }}</span></summary>
            <ul dir="rtl">
              <li><a href="logout.html"><span class="mif-exit"></span>&nbsp;Log Out</a></li>
            </ul>
          </details>
        </li>
    </ul>
  </nav>
</header>

<aside id="sidebar">
  <nav>
    <ul>
        <li class="close-item"><a href="#" aria-label="Close menu" onclick="toggleMenu()">✕ Close</a></li>
        <li><a href="home.html">{{.homeIcon}}&nbsp;Home</a></li>
        <li><a href="tickets.html">{{.ticketsIcon}}&nbsp;<span class="mif-news icon"></span>Tickets</a></li>
        <li class="divider"></li>
        <li><a href="devices.html">{{.devicesIcon}}&nbsp;<span class="mif-devices icon"></span>Devices</a></li>
        <li><a href="softwares.html">{{.softwaresIcon}}&nbsp;<span class="mif-apps icon"></span>Software</a></li>
        {{if .isAdmin }}
        <li class="divider"></li>
        <li><a href="profiles.html">{{.profilesIcon}}&nbsp;<span class="mif-profile icon"></span>Profiles</a></li>
        <li><a href="reports.html">{{.reportsIcon}}&nbsp;<span class="mif-dashboard icon"></span>Reports</a></li>
        <li><a href="control.html">{{.controlIcon}}&nbsp;<span class="mif-traff icon"></span>Control</a></li>
        <li><a href="network.html">{{.networkIcon}}&nbsp;<span class="mif-lamp icon"></span>Network</a></li>
        <li><a href="admin.html">{{.adminIcon}}&nbsp;<span class="mif-tools icon"></span>Admin</a></li>
        {{end}}
        <li class="divider"></li>
        <li><a href="about.html">{{.aboutIcon}}&nbsp;<span class="mif-info icon"></span>About</a></li>
    </ul>
  </nav>
</aside>
