<header class="container">
  <nav>
    <ul>
      <li>
        <details class="dropdown">
          <summary>{{.menu}}</summary>
          <ul>
            <li><a href="home.html">{{.home}} Home</a></li>
            <li><a href="tickets.html">{{.ticket}} Tickets</a></li>
            <li><a href="devices.html">{{.devices}} Devices</a></li>
            <li><a href="softwares.html">{{.software}} Software</a></li>
            {{if .isAdmin }}
            <li><a href="profiles.html">{{.profiles}} Profiles</a></li>
            <li><a href="reports.html">{{.reports}} Reports</a></li>
            <li><a href="control.html">{{.control}} Control</a></li>
            <li><a href="network.html">{{.network}} Network</a></li>
            <li><a href="admin.html">{{.settings}} Settings</a></li>
            {{end}} 
            <li><a href="about.html">{{.about}} About</a></li>
          </ul>
        </details>
      </li>
      <li>{{ .cmd_one }}</li>
      <li>{{ .cmd_two }}</li>
      <li>{{ .cmd_three }}</li>
    </ul>
    <ul>
      <li title="Device Asset Information SYstem">{{.title}}</li>
    </ul>
    <ul>
      <li>
        <details class="dropdown">
          <summary>{{.user}}<span id="userName">{{.fullName}}</span></summary>
          <ul>
            <li><a href="#" data-theme-switcher="auto">Theme Auto</a></li>
            <li><a href="#" data-theme-switcher="light">Theme Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Theme Dark</a></li>
            <li><a href="logout.html">{{.logout}} Log Out</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
