<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <meta name="color-scheme" content="light dark">
    <meta name="author" content="StoneSoft">
    <meta name="description" content="Device Asset Information SYstem DAISY">
    <meta name="keywords" content="WKNC Weston King Neghbourhood Centre Device Asset Information SYstem DAISY">
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" HREF="favicon.ico" >
    <link rel="stylesheet" href="css/pico.min.css">
    <link rel="stylesheet" href="css/snackbar.css">
    <link rel="stylesheet" href="css/font.css">
    <title>DAISY</title>
</head>
<body>